body {
    margin: 0;
}

.icon {
    background-color: white;
    padding: 9px 9px 5px 9px;
    border-radius: 50%;
}

.nav-bar {
    margin: 0;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar li {
    background-color: cornflowerblue;
    list-style: none;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.nav-bar .links img {
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

.nav-bar a {
    color: white;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.google-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


footer {
    border-top: 3px solid #000;
    /* padding: 0px 300px 0px 300px; */
    padding-left: 640px;
    width: 100%;
    position: fixed;
    bottom: 0;
}